In [63]:
import pandas as pd

# Series

In [64]:
data = [1,2,3,4,5]

In [65]:
s = pd.Series(data)

In [66]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [67]:
index = ["linha" + str(i) for i in range (5)]

In [68]:
index

['linha0', 'linha1', 'linha2', 'linha3', 'linha4']

In [69]:
s = pd.Series(data = data, index = index)

In [70]:
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [71]:
data = {"linha" + str(i): i+1 for i in range(5)}

In [72]:
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [73]:
s = pd.Series(data)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [74]:
s1 = s+2
s1

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [75]:
s2 = s + s1
s2

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

## DataFrames

In [76]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [77]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [78]:
index = ["linha" + str(i) for i in range(3)]
index

['linha0', 'linha1', 'linha2']

In [79]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [80]:
columns = ["coluna" + str(i) for i in range(3)]
columns

['coluna0', 'coluna1', 'coluna2']

In [81]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [82]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [83]:
df2 = pd.DataFrame(data = data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [84]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0